.body{
    display: inline-flex;
    height: 1024px;
    padding-right: 0px;
    align-items: center;
    background: #FFF;
    color: #000000;
    color: #FFFFFF;
    color: #8D8D8D;
    color: #3EC1F3;
      
}

.sidebar{
   
}

.reg-area{
    
}
